html,
body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
}

.content-container {
    max-width: 900px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
}

.pagination-block {
    margin-bottom: 30px;
}

.navbar-bg-white {
    background-color: #fff;
    border: 1px solid #d3d3d3;
}

.navbar-container {
    max-width: 900px;
    font-size: 0.5;
    padding: 10px 20px;
    margin: px 10px 5px;
}

.about-snippet-block {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 20px;
}

.single-post-home {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
}

.p-small-one {
    font-size: 0.875rem;
}

.p-small-two {
    font-size: 0.800rem;
}

.custom-link {
    color: #000;
    text-decoration: none;
}

.custom-link:hover {
    color: #343a40;
    text-decoration: none;
}

.post-page-block {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
}

@media (min-width: 768px) {
    .single-post-home {
        margin-left: 30px;
    }

    .about-page-block {
        margin-left: 30px;
    }

    .post-page-block {
        margin-left: 30px;
    }

    .post-image-block {
        margin-left: 30px;
    }

    .pagination-block {
        margin-left: 30px;
    }

    .mostra-a-capo {
        white-space: pre-wrap;
    }

    @media (min-width: 768px) {
        .nav-link {
            padding-right: 0px !important;
            padding-left: 1rem !important;
        }
    }