{% extends 'base.html' %}

{% block title %} Home
{% endblock %}

{% block content %}
<div class="container content-container">
    <div class="row no-gutters">
        <div class="col-md-9 order-md-2">
            <div>
                {% for post in posts %}
                <div>
                    <h5>{{post.title}}</h5>
                    <p>{{post.body}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-3 order-md-1">
            <p>some content</p>
        </div>
    </div>


</div>
{% endblock %}

<hr>